
.container {
  display: block;
  width: 1920px;
  margin: 0 auto;  /* 左右auto会使内容居中*/
}

/* 顶端标题*/
.header {
  /* background-color: #ADADAD; */
  display: block;
  max-width: 1640px;
  margin: 0 auto;
  height: 60px;
}

/* 卡牌详情及操作按钮区*/
.control-field {
  background-color: rgba(0, 0, 0, 0.4);  /* 设置透明黑色*/
  /*background-color: #CA8EFF;*/
}

.control-field .card-field {
  width: 240px;
  height: 350px;
  margin: 17px 42px;
  padding: 2px 2px;
  border: 2px solid #F0F0F0;
  /* background-color: #C1FFE4; */
}

.control-field .card-field .card {
  width: 240px;
  height: 350px;
}

.control-field .option-button {
  width: 308px;
  height: 390px;
  margin: 10px 10px;
  /* background-color: #C1FFE4;*/
}

.control-field .option-button .button {
  font-family: "Microsoft Yahei";
  text-align: center;
  font-weight: 550;
  float: left;
  margin: 10px 17px;
  width: 120px;
  height: 30px;
}

/* 左右卡牌区*/
.lside-field,
.rside-field {
  background-color: rgba(0, 0, 0, 0.4);  /* 设置透明黑色*/
  float: left;
  left: 1230px;
  /* background-color: #00DB00; */
}

.lside-field .item,  /* 左右边区域卡槽*/
.rside-field .item {
  display: inline-block;  /* inline使padding margin等只作用于左右, inline-block可作用于上下左右*/
  border: 4px solid #F0F0F0;
  width: 103px;
  height: 150px;
}

/*
.lside-field .deck {
  margin: 15px 30px;
}

.lside-field .tomb {
  margin: 0 30px;
}

.lside-field .gameout {
  margin: 50px 30px;
}
*/

.rside-field .deck {  /* 卡组卡槽*/
  margin: 15px 30px;
}

.rside-field .tomb{  /* 墓地卡槽*/
  margin: 0 30px;
}

.rside-field .env {  /* 环境卡卡槽*/
  margin: 240px 30px 50px 30px;
}

.rside-field .card {
  width: 96px;
  height: 140px;
  margin: 5px 3px;
}

.rside-field .card:hover {
  border: 3px solid #FFFF37;
}

.rside-field .card-tomb {
  width: 96px;
  height: 140px;
  margin: 5px 3px;
}

.rside-field .card-gameout {
  width: 96px;
  height: 140px;
  margin: 5px 3px;
}

/* 主卡牌区*/
.main-field {
  float: left;
  left: 340px;  /* 左浮动等于controlfield宽度，不然会重合*/
}

.hand-field {
  width: 768px;
  height: 132px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-field .hand-field .item {
  width: 90px;
  height: 130px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  float: left;
}

.main-field .hand-field .item .card {
  width: 83px;
  height: 120px;
  margin: 2px 2px;
}

.main-field .hand-field .item .card:hover {
  margin: 0 0 20px 0;
}

.main-field .hand-field .item .card-selected {
  width: 83px;
  height: 120px;
  margin: 2px 2px;
  border: 2px solid #FFFF37;
}

.main-field .battle-field {
  margin-left: 65px;
  margin-right: 60px;
}

.main-field .battle-field .card-field {
  width: 770px;
  height: 199px;
  border: 2px solid #F0F0F0;
  background-color: rgba(0, 0, 0, 0.6);  /* 设置透明黑色*/
  margin-top: 26px;
  margin-bottom: 26px;
  margin-left: 0px;
  margin-right: 0px;
}

.main-field .battle-field .card-field .item {
  width: 150px;
  height: 96px;
  border: 2px solid #F0F0F0;
  float: left;
}

.main-field .battle-field .card-field .item-selected {
  width: 150px;
  height: 96px;
  border: 2px solid #FFFF37;
  float: left;
}

.main-field .battle-field .card-field .item .card {
  width: 65px;
  height: 94px;
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item .card-attk {
  width: 65px;
  height: 94px;
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item .card-defen {
  width: 65px;
  height: 94px;
  transform: rotate(90deg);
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item .card-back {
  width: 65px;
  height: 94px;
  transform: rotate(90deg);
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item .card-on {  /* 魔法陷阱翻开状态*/
  width: 65px;
  height: 94px;
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item .card-off {  /* 魔法陷阱覆盖状态*/
  width: 65px;
  height: 94px;
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item-selected .card {
  width: 65px;
  height: 94px;
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item-selected .card-attk {
  width: 65px;
  height: 94px;
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item-selected .card-defen {
  width: 65px;
  height: 94px;
  transform: rotate(90deg);
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item-selected .card-back {
  width: 65px;
  height: 94px;
  transform: rotate(90deg);
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item-selected .card-on {  /* 魔法陷阱翻开状态*/
  width: 65px;
  height: 94px;
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item-selected .card-off {  /* 魔法陷阱覆盖状态*/
  width: 65px;
  height: 94px;
  margin: 1px 40px;
}

.main-field .battle-field .card-field .item .card-attk-selected {
  width: 65px;
  height: 94px;
  margin: 1px 40px;
  border: 2px solid #FFFF37;
}

.main-field .battle-field .card-field .item .card-defen-selected {
  width: 65px;
  height: 94px;
  transform: rotate(90deg);
  margin: 1px 40px;
  border: 2px solid #FFFF37;
}

.main-field .battle-field .card-field .item .card-back-selected {
  width: 65px;
  height: 94px;
  transform: rotate(90deg);
  margin: 1px 40px;
  border: 2px solid #FFFF37;
}

.main-field .battle-field .card-field .item .card-on-selected {
  width: 65px;
  height: 94px;
  margin: 1px 40px;
  border: 2px solid #FFFF37;
}

.main-field .battle-field .card-field .item .card-off-selected {
  width: 65px;
  height: 94px;
  margin: 1px 40px;
  border: 2px solid #FFFF37;
}

/* 页脚*/
.footer {
  /* background-color: #ADADAD; */
  height: 58px;
}
